<!DOCTYPE html>
<html>
<head><title>Create Book</title></head>
<body>
    <h1>Create Book</h1>
    <form method="post">
        {% csrf_token %}
        <label>Title: <input type="text" name="title"></label><br>
        <label>Author: <input type="text" name="author"></label><br>
        <label>Price: <input type="number" step="0.01" name="price"></label><br>
        <label>Stock: <input type="number" name="stock"></label><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
