{% extends 'books/base.html' %}

{% block content %}
    <h1>Customers</h1>
    <a href="{% url 'customer_create' %}" class="btn">Create New Customer</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{% url 'customer_update' customer.pk %}">Edit</a> |
                    <a href="{% url 'customer_delete' customer.pk %}" style="color:red;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
